/* BODY */

body {
    height: 100vh;
}

/* NAVBAR */

.navbar {
    height: 10vh;
} 

.nvb-container img {
    width: 40px;
}

/* CONTAINER */

.container-grid {
    background-color: #7FFFD4;
    height: 80vh;
}

.grid {
    width: 400px;
    height: 400px;
    box-sizing: content-box;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.active {
    background-color: blue;
}

footer {
    height: 10vh;
}